<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>
    <br /><br />
    <div>

    <div style="width:90%; margin: 0 auto;">
      <br />
      <p
        style="text-align:center;  margin-top:1em; font-weight:400; font-family:'Times New Roman', Times, serif"
        ;
      >
        Welcome in!<br/>Your username is <b><%= username %></b> and temporary password is <b><%= tempPassword %></b>. You can now log in with your credentials on <a href = <%= loginUrl %>>  <%= loginUrl %> </a> .
      </p>
    </div>
  </body>
</html>